<div class="reddit-body">
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-md-9">
                <!-- Display Posts-->
                <div class="row post" *ngFor="let post of posts$">
                    <!-- Section to Display Votes-->
                    <div class="col-md-1">
                        <div class="d-flex flex-column votebox">
                            <div class="p-2">
                                <fa-icon class="upvote" (click)="upvotePost()" [icon]="faArrowUp" [style.color]="upvoteColor"></fa-icon>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
